/*body {
    background-color: #dfe6da;
}
nav{
     background-color:  #015041  ;
    text-align:right;
    padding: 20px 0;
    margin:-10px;
   
}
nav a{
    
   text-decoration: none;
   font-size:18px;
   margin:0 20px;
   
    color:white;
    background-color:#015041;
}
header{
    margin-bottom:300px;
    margin-top:-550px;
     margin-left:500px;
    
}
header h1{
   
    
    text-align:center;
    color:#015041;
    
}
.secH {
    margin-left: 100px;
     
}
section .p1{
    width:fit-content;
    border:#015041 solid 2px;
    background-color:#015041;
    border-radius: 5%;
    padding:10px;
    text-align:left;
    margin: 20px 100px ;
    font-size:18px;
    color: white;
}
section .p2{
    width:fit-content;
    border:#015041 solid 2px;
    background-color:#015041;
    border-radius: 5%;
    padding:10px;
    margin:20px 100px ;
    text-align:left;
    font-size:18px;
    color: white;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    background-color:#015041;
    padding:60px;
    margin:-9px;
    text-align:center;
    color:white;
}
img {
    width:30%;
    height:600px;
    margin:100px;
}
span{
    font-size:200px;
    color:#015041;
} */
 body {
    background-color: #dfe6da;
}

nav {
    background-color: #015041;
    text-align: right;
    padding: 2% 0;
    margin: -1%;
}

nav a {
    text-decoration: none;
    font-size: 120%;
    margin: 0 1%;
    color: white;
    background-color: #015041;
}
header {
    margin-bottom: 20%;
    margin-top: -45%;
    margin-left: 37%;
}

header h1 {
    text-align: center;
    color: #015041;
}


.secH {
    margin-left: 7%;
}
section .p1,
section .p2 {
    width: fit-content;
    border: #015041 solid 0.2%;
    background-color: #015041;
    border-radius: 5%;
    padding: 1%;
    margin: 2% 8%;
    text-align: left;
    font-size: 120%;
    color: white;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #015041;
    padding: 5%;
    margin: -1%;
    text-align: center;
    color: white;
}

img {
    width: 30%;
    height: 60%;
    margin: 7%;
}

span {
    font-size: 900%;
    color: #015041;
}